@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

p {
  margin: 15px 0;
  line-height: 1.8;
}

a {
  text-decoration: none;
  color: #0D0D0D
}

img {
  width: 100%; 
  max-height: 50%;
  object-fit: cover;
  object-position: 25% 25%; 
}

.container{
  margin: 1.0rem ;
}

header {
  text-align: center;
  font-size: 20px;
  background: #0D0D0D;
  color: white;
  padding: 20px;
  margin-bottom: 30px;
}

header a{
  color: white;
}

.container{
  overflow: auto;
  padding: 0 10px;
}


.btn {
  display: inline-block;
  background: #1B0140;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.12s ease-out;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  transform: scale(0.98);
  background: #5D04D9;
}

.btn-back {
  background: #f4f4f4;
  color: #000;
  text-align: center;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-top: 30px;
}

.card {
  padding: 20px;
  border: 4px solid #5D04D9;
  transition: all 0.12s ease-in-out;
  transform: scale(0.98);
  border-radius: 10px;
}

.card-page {
  border: 0px solid;
  margin: auto;
  padding: 15px 30px;
  max-width: 1080px;
}

.post-title {
  color: #2A1A40;
  margin: 10px 0;
}

.post-date {
  background: #f4f4f4;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.post-body ul, ol {
  font-size: 110%;
  line-height: 2.3;
  font-weight: bold;
  margin: 10px 0;
}

.post-body pre {
  background: #f4f4f4;
  padding: 20px;
  margin: 20px 0;
  line-height: 2.3;
}

@media (max-width: 740px) {
  .posts {
    grid-template-columns: 1fr;
  }
}
